div.tooltip {
    position: absolute;
    text-align: center;
    width: 100px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: rgb(19, 173, 2);
    border: 1px;
    border-radius: 8px;
    pointer-events: none;
  }
